
</html>
<!-- Search Bar -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-  
        scale=1">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-
        awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1><center>Consultas</center></h1>
        
        <p></p>
        <center>
            <p> Las 3 consultas están en /consulta1, /consulta2, /consulta3 </p>

        </center>
    </body>
</html>